# python
__pycache__/
*.pyc

# database
arc.db

# recordings
audio_16k/
audio_sent/

# results
z_results.csv
y_results.csv

# vosk model
model/

# virtual env
venv/
.venv/

warmup_audio.wav
audio_noise/
audio_prompts/
audio_stretch/